
@import '../bootstrap/css/bootstrap.min.css';

:root[data-bs-theme="light"] {
  --nav-item-filter: brightness(0) saturate(100%) opacity(0.65);
  --nav-item-hover-filter: brightness(0) saturate(100%) opacity(0.8);
}

:root[data-bs-theme="dark"] {
  --nav-item-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6136%) hue-rotate(8deg) brightness(127%) contrast(112%) opacity(0.65);
  --nav-item-hover-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6136%) hue-rotate(8deg) brightness(127%) contrast(112%) opacity(0.8);
}

.navbar-brand {
  filter: var(--nav-item-filter);
}

.btn-close{
  width: 30px;
  height: 30px;
}

#theme-toggle {
  filter: var(--nav-item-filter);
}

#theme-toggle:hover{
  filter: var(--nav-item-hover-filter);
}
