@import 'base';

main img {
    @extend .img-fluid;
    border: 1px solid var(--bs-border-color);
}

pre, textarea, iframe {

    color: var(--bs-code-color);
    border: 1px solid var(--bs-border-color);
    border-radius: 0 !important;
    resize: none;
}
iframe #document html {
    background-color: var(--bs-body-bg);
}
pre, .html-editor {
    @extend .mb-3;
    &::before{
        height: min-content;
        padding: 0.1em 1.5em;
        display: block;
        width: 100%;
        color: var(--bs-body-color);
        background-color: var(--bs-border-color);
        font-size: 12.25px;;
        line-height: $line-height-sm;

    }
    &:has(code.language-html)::before{
        content: "HTML";
    }
    &:has(code.language-css)::before{
        content: "CSS";
    }
    &.html-editor::before{
        content: "HTML";
    }
}
code, textarea {
    @extend .p-3;
    display: block;
    border-left: 3px solid var(--bs-code-color) !important;
    color: var(--bs-code-color) !important;

}
.html-editor{
    @extend .d-flex;
    @extend .flex-wrap;
    position: relative;
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
    
    &::before {
        flex-grow: 1;
    }
    * {
        flex:1;
        height: 500px;
        display: block;
        @include media-breakpoint-down(md) {
            flex-basis: 100%;
        }
    }

    button {
        @extend .m-3;

        @extend .btn;


        

        display: block;
        width: 34px;
        height: 34px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: center no-repeat url('/static/media/box-arrow-up-right.svg');
        background-size: 24px;
        filter:  invert(30%) sepia(75%) saturate(4670%) hue-rotate(212deg) brightness(103%) contrast(95%);
    }


}
.pagination{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .page-item{
        flex: 1;
        button{
            width: 100%;
        }
    }
}
.sidebar{
    @extend .sidebar;

    .sidebar__header{
        @extend .my-3;
    
        @extend .gap-2;
        display: flex;
        align-items: center;
        filter: var(--nav-item-filter);
        svg {
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    li{

    }
    .nav-link {
        @extend .nav-link;



    }
}
