:root[data-bs-theme="dark"] {
    --code-border: var(--bs-gray-800);
    --code-header:var(--bs-gray-500);

}

:root[data-bs-theme="light"] {
    --code-border: var(--bs-gray-200);
    --code-header: var(--bs-gray);
}
main img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--code-border);
}


pre {
    color: var(--bs-code-color);
    border: 1px solid var(--code-border);
    overflow: auto;
    display: block;
}
pre code{
    border-left: 3px solid #e685b5;
    padding: 1em 1.5em;
    display: block;
}
pre::before{
    text-transform: uppercase;
    padding: 0.1em 1.5em;
    display: block;
    width: 100%;
    color: var(--code-header);
    background-color: var(--code-border);
}
pre:has(code.language-html)::before {
    content: "html";
}
pre:has(code.language-css)::before {
    content: "css";
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.page-item{
    flex: 1;
}
.page-item button{
    width: 100%;
}

